Q1. What is a database? Differentiate between SQL and NoSQL databases.
Dataabse is place where we store data.This data can be use for future analysis. Database is very crucial for data analytics.<br>
SQL databases store data in relational format. SQL store data in form of rows and columns tables.<br>
NoSQL databases store data in various format like documents,key value and graph rather than relational tables. <br>

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL stands for data defination language, which is used for defining structure of database tables.<br>
<pre>
Create Use to define table structure 
ex create table student( roll_no number,
name varchar2(30),
age number);
</pre>

<pre>
DROP remove table definition and indexes, data, constraints, triggers etc for that table.
DROP table employee;
</pre>


<pre>
Alter use for making changes in table structure.

ALTER TABLE Customers
ADD Email varchar(255)
DROP age number;
</pre>

<pre>
TRUNCATE command is used to delete all the rows from the table.
TRUNCATE table employee;
</pre>

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for data manipulation language.  DML used for making chnages in database.<br>
INSERT <br>
insert statement is use for insert data into table <br>
INSERT INTO Student (StudentName, Address, City, PostalCode)
VALUES ('Cardinal', 'Skagen 21', 'Stavanger', '4006');<br>

UPDATE<br>
UPDATE statements make changes in table<br>
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City = 'Frankfurt'
WHERE CustomerID = 1;<br>

DELETE<br>

delete statement will delete specific rows based on condition provided<br>
DELETE FROM Students WHERE StudentsName='Raj Kapoor';<br>

Q4. What is DQL? Explain SELECT with an example.<br>
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. <br>
select * from Students <br>
where roll_no=12<br>
Above example will return only details about student whose roll_no is 12<br>

select * from students ;<br>
Above statement will return whole table details.<br>

Q5. Explain Primary Key and Foreign Key.
Primary key is unique identifer in table. A table can have only one primary key.<br>
whereas Foreign Key Used to maintain the relationship between two or more relational tables.<br>
Table can have multiple Foreign Key.<br>
Example
<img height='400' width='600' src='https://www.programiz.com/sites/tutorial2program/files/foreign-key.png'><br>
In above examples orders table contain customer_id which is primary key

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
<pre>
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("create database if not exists test2")
mycursor.execute("CREATE table test2.test_table (c1 INT, c2 VARCHAR(50),c3 INT, c4 FLOAT, c5 VARCHAR(40))")
mycursor.close()
</pre>

Q7. Give the order of execution of SQL clauses in an SQL query.

<img src='https://f4n3x6c5.stackpathcdn.com/article/difference-between-having-and-where-clause-in-sql-server/Images/difference%20between%20having%20and%20where%20clause5a.PNG'>

1.From statment is executed in first step<br>
2.where condition is used for filtering the rows in output.<br>
3.group by clause will partition the table in base on columns provided in group by condition.<br>
4.Having cluase will implement condition on output of aggregate functions.<br>
5.select statement will return final data.<br>
6Order by clause will order the rows based on columns .<br>